body {
    margin-left: 15%;
    margin-right: 15%;
}
.container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;

}
#header {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    text-decoration-line: underline;
    color:#070F18;
    margin-top: 40px;
    margin-bottom: 40px;

}

#menu {
    text-align: right;
    margin-top: 49px;
} 
#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#menu li {
    display: inline-block;
    margin-left: 20px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    transition: .4s ;
    background-color: #1F7CFF; 
    padding: 10px 10px 10px 10px;
    border-radius: 30px;
    clip-path: polygon(100% 0%, 93% 49%, 100% 100%, 10% 100%, 0% 50%, 10% 0);


}
#menu li:hover{
    background-color:#1F7CFF;
    color:#FFFFFF;
    letter-spacing: 1px;
    clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0% 100%, 5% 50%, 0% 0%);

 
}
a{ 
    color: #FFFFFF;
    text-decoration: none;
}
#buttonCta { 
    background: #1F7CFF;
    border-radius: 50px;   
    font-family: Poppins;
    font-style: normal;  
    font-size: 16px;
    line-height: 100%;
    display: inline-block;
    text-align: center;
    color: #FFFFFF;
    padding: 15px 55px 15px 55px;
    margin-top: 20px;
    transform: translateY(0);
    transition: transform 0.3s ease;
    
}
#buttonCta:hover{
    background: #1F7CF;
    background-color:#1F7CFF;
    color:#FFFFFF;
    transform:translateY(-5px);

}
#headerCta {
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 32px;
    color:#575455;


}
#headerCta h1 {
    font-family: Poppins;
    font-weight: 800px;
    font-style: Bold;
    font-size: 55px;
    color:#000000;
    margin: auto;
    margin-top: 45px;

}
#headerImg {
    text-align: right;

}
#headerImg img {
    width: 65%;

}
#headerCta p {
    margin-top: 35px;
    margin-bottom: 40px;
}
.headerLogo {
    text-align: center;
}
#clientes {
    margin-top: 50px;
    margin-bottom: 50px;
}
#headerText {
    font-family: Poppins;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #070F18;

}
h1.black {
    margin-top: 0;
    font-family: Poppins;
    font-weight: 700;
    font-style: Bold;
    font-size: 36px;
    line-height: 100%;
    text-align: left;
    color: #000000;

}
h2.red {
    font-family: Poppins;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 100%;
    text-align: left;
    color: #F75C4E;

}
.textCenter {
    text-align: center;
    margin-top: 30px;
}
#servicos p {
    text-align: center;
}
p {
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #070F18;

}
#servicos .textCenter h3 {
    font-family: Poppins;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    color: #070F18;

}
#contatoImg img {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 90%;
}

#contatoForm {
    margin-top: 50px;
    margin-bottom: 50px;
}

#contatoForm .red,#contatoForm .black {
    text-align: left;
    margin-top: 30px;
    
}
#contatoForm form {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: auto;
    row-gap: 20px;
    margin-top: 30px;
    margin-bottom: 50px;
    width: 40%;
    border: 0%;
}
#contatoForm input{
    font-family: Poppins;
    font-style: normal;
    width: 406px;
    height: 38px;
    border-radius: 50px;
    border:0px ;
    padding: 15px 25px 15px 25px;
    background-color:#F5F6FB;

}
#contatoForm button {
   
     background: #1F7CFF;
     border: none;
     border-radius: 50px;
     font-family: Poppins;
     font-style: bold;  
     font-size: 16px;
     line-height: 100%;
     text-align: center;
     color: #FFFFFF;
     padding: 15px 25px 15px 25px;
     width: 180px;
     height: 48px;
     cursor: pointer;
     Display: inline-block;
    transform: translateY(0);
    transition: transform 0.3s ease;
    
}
#contatoForm button:hover{
    background-color:#1F7CFF;
    color:#FFFFFF;
    transform:translateY(-5px);

} 
#portifolioTitulo {
    text-align: left;
    margin-top: 30px;
    margin-bottom: 30px;
}

.portfolioImg {
    width: 100%;
    padding: 20px;
    margin-bottom: 30px;
}